<!-- <!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link rel="stylesheet" href="index.css"> -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous" />
	<title>Document</title>
</head>

<body>
	<div id="app">
		<div class="container">
			<div class="row">
				<p class="jumbotron">
					login:
					<input type="text" v-model="user" />
					Connecté en temps que {{user}}
				</p>
			</div>
			<h1 class="display-3">produits disponibles</h1>
			<h1 class="display-3" v-if="commandes.length>0 ">Commandez</h1>
			<div class="row">
				<fiche-produits v-for="commande in commandes"></fiche-produits>
				
				<div class="col-3" v-for="produit in produits">
					<p v-bind:class="affichage">{{ produit }}</p>
					<button v-on:click="commander(produit)">Commandez</button>
					<fiche-produits v-for="produit in produits" v-bind:nom="produit" ></fiche-produits>
				</div>
			</div>
			<ul>
				<li v-for="commande in commandes">{{ commande}}</li>
			</ul>
		</div>
	</div>	
	<script>
		Vue.component('fiche-produits', {
			template: ` <p class="jumbotron display-5">{{ nom }}</p>`, 
			props: ['nom' ]
		})
		var app = new Vue({
			el: '#app',
			data: {
				user: '',
				produits: [
					'pizza',
					'burger',
					'salade',
					'nuggets',
					' clafoutis',
					'brownie',
				],
				commandes: [],
				affichage: 'display-5 jumbotron',
			},
			methods: {
				commander: function (produit) {
					console.log(produit)
					this.commandes.push(produit)
				},
			},
		})
	</script>
	<script src="index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</body>

</html> --> -->