* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: aqua; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: auto;
  height: 700px;
}
.container_produits {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
  height: 100px;
}
.div_produits {
  border: none;
  display: flex;
  background-color: burlywood;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  font-size: 16px;
  padding: 10px;
  box-shadow: 1px 5px 10px -4px inset black;
  color: rgb(3, 18, 60);
  border-radius: 10px 10px 0px 0px;
}
.product_order_txt {
  font-family: poppins;
  color: v-bind(color);
}
.container_ordered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  gap: 10px;
  box-shadow: 1px 1px 10px -2px grey;
  border-radius: 5px;
  /* border: solid grey 5px; */
}
.range_space{
  display: flex;
  flex-direction: column; 
  align-items: center;  
}
.range_sugar {
  width: 400px;
  height: 40px;
  appearance: none;
  background: rgb(241, 233, 233);
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 5px 2px rgb(119, 111, 111) inset;
  border: none;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 15px;
  border-radius: 50%;
  background: #309238;
  cursor: pointer;
  border: 4px solid rgb(101, 20, 20);
  box-shadow: -407px 0 0 400px #4511e3;
}
.sugar_value {
  margin-top: 10px;
  font-family: poppins;
  font-weight: 600;
}
.ordered_txt {
  font-size: 14px;
  font-family: poppins;
}
.container_sucre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
}
.sugar_button {
  background-color: white;
  border: none;
  color: white;
  font-family: poppins;
  box-shadow: 1px 2px 7px -1px black;
  height: 70px;
  width: 100px;
  border-radius: 5px;
  background: linear-gradient(167deg, rgba(130, 129, 139, 1) 0%, rgba(17, 16, 16, 1) 100%);
  transition: transform 0.7s;
}
.sugar_button:hover {
  transform: scale(0.9);
  box-shadow: 1px 2px 7px -1px black inset;
}
.confirm_cancel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
  width: 400px;
  height: 200px;
  gap: 10px;
  box-shadow: 1px 1px 10px -2px grey;
}
.button_confirm {
  border: none;
  color: white;
  font-family: poppins;
  box-shadow: 1px 2px 7px -1px black;
  height: 70px;
  width: 150px;
  border-radius: 5px;
  background: linear-gradient(167deg, rgb(54, 133, 8) 0%, rgb(179, 209, 14) 100%);
  transition: transform 0.7s;
}
.button_confirm:hover {
  transform: scale(0.9);
  box-shadow: 1px 2px 7px -1px black inset;
}
.button_cancel {
  background-color: rgb(242, 52, 52);
  border: none;
  color: rgb(255, 255, 255);
  font-family: poppins;
  box-shadow: 1px 2px 7px -1px black;
  height: 70px;
  width: 150px;
  border-radius: 5px;
  background: linear-gradient(167deg, rgb(140, 29, 6) 0%, rgb(239, 55, 55) 100%);
  transition: transform 0.7s;
}
.button_cancel:hover {
  transform: scale(0.9);
  box-shadow: 1px 2px 7px -1px black inset;
}
.orderBoard {
  font-family: poppins;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  text-align: center;
  width: 400px;
  gap: 10px;
  box-shadow: 1px 5px 10px -4px black;
}
